<footer class="footer bg-white">

    <div class="container">

        <!-- <hr> -->
        <div class="row align-items-center">

            <div class="col-md-12">
                <ul class="nav nav-footer justify-content-center">
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="far fa-envelope"></i> mailblu@gmail.com</a>
                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i> bluuescuela</a>
                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fas fa-map-marker-alt"></i> calle tantos entre tantos y tantos
                  #126</a>
                        </li>
                    </div>
                    <div class="col-md-3">
                        <li class="nav-item">
                            <a href="#" class="nav-link"><i class="fab fa-instagram"></i> bluuescuelagenial</a>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</footer>