<nav class="navbar navbar-expand-lg sticky-top fixed-top navbar-inverse navbar-dark">
  <a class="navbar-brand" href="#">bluu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav mt-auto">
      <li class="nav-item">
        <div class="dropdown show" *ngIf="authService.isUserLoggedIn()">
          <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{authService.getUser().email}}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <!-- <a class="dropdown-item">Action</a> -->
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="authService.logout()">Salir</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>