@font-face {
    font-family: Cocon-Regular;
    src: url(assets/fonts/Cocon-Regular-Font.otf) format("opentype");
  }

@font-face {
    font-family: Cocon-Bold;
    src: url(/assets/fonts/Cocon-Bold-Font.otf) format('opentype');
  }

@font-face {
    font-family: Calibri-Regular;
    src: url(/assets/fonts/calibri.ttf) format('truetype');
}

@font-face {
    font-family: Calibri-Bold;
    src: url(/assets/fonts/calibrib.ttf) format('truetype');
} 

.bg-facebook {
    background: #3B5998;
    color: white;
  }
  
img{
    width: 360px;
    height: 360px;
}

.title-Bold{
    font-family:  Cocon-Regular;
    font-size: 40px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
}

.body-calibri {
    font-family: Calibri-Regular;
    font-size: 24px;
    color: #fff;
    line-height: 1.5;
}

.form-rounded {
    border-radius: 1rem;
    height: 50px;
}

.btn-info {
    font-size: 13px;
    background: black;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    height: 50px;
    line-height: 15px;
    border: 2px solid rgba(91, 192, 222, 0.75);
    border-radius: 40px;
    /* background: transparent; */

    transition: all 0.3s ease 0s;
  }
  
  .btn-info:hover {
    color: #FFF;
    background: rgba(91, 192, 222, 0.75);
    border: 2px solid rgba(91, 192, 222, 0.75);
  }