<div class="form-body text-center ">
    <div class="form-signin">
        <form [formGroup]='loginForm' (ngSubmit)="login()">
            <h1 class="h3 mb-3 font-weight-normal">Iniciar sesión</h1>
            <label for="inputEmail" class="sr-only">Correo</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Correo electronico" formControlName="email">
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" formControlName="password">
            <div class="checkbox mb-3">
                <label>
          <input type="checkbox" [(ngModel)]="recordar"  [ngModelOptions]="{standalone: true}"value="remember-me"> Recuerdame
        </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        </form>
        <hr>
        <button (click)="signGoogle()" class="btn btn-lg  btn-block bg-google" type="button">
        <i class="fab fa-google pr-1"></i>Continuar con Google
    </button>
        <p>¿No tienes una cuenta? <a [routerLink]="'/sign-in'">Regístrate</a> </p>
        <p>o <a [routerLink]="'/recordar'">¿Has olvidado la contraseña?</a> </p>

    </div>
</div>

<!-- <button (click)="signFacebook()" class="btn bg-facebook btn-lg btn-block" type="button" >
            <i class="fab fa-facebook"></i>Continuar con Facebook
        </button> -->