<div class="form-body text-center ">
  <div  class="form-signin">
    <img class="mb-4" src="assets/imgs/logo2.png" alt="" width="100" height="100">
    <h1 class="h3 mb-3 font-weight-normal">Registrarse</h1>
    <form [formGroup]='siginForm' (ngSubmit)="signin()"> 
      <label class="sr-only">Nombre</label>
      <input type="text"  
             class="form-control" 
             placeholder="Nombre completo" 
             formControlName="name">
      <label class="sr-only">Email</label>
      <input type="email" 
             class="form-control" 
             placeholder="Email address" 
             formControlName="email">
      <label class="sr-only">Contraseña</label>
      <input type="password" 
             class="form-control" 
             placeholder="Contraseña"
             formControlName="password" >
      <label class="sr-only">Confirmar contraseña</label>
      <input type="password" 
             class="form-control" 
             placeholder="Confirmar contraseña"
             formControlName="passwordConfirm" >       
      <button class="btn btn-lg btn-primary btn-block" type="submit">Inscribirse</button>
    </form>
    <hr>
    <p>¿Ya tienes una cuenta? <a [routerLink]="'/login'">Iniciar sesión</a> </p>
  </div>  
</div>