<h4>Formularios <small>template</small></h4>
<hr>
<form [formGroup]='forma' (ngSubmit)="newSchool()"  novalidate='novalidate'>
  <div class="form-group row">
    <label class="col-2 col-form-label">Escuela</label>
    <div class="col-8">

      <input class="form-control"
              type="text"
              placeholder="Escuela"
              formControlName="titulo">
    </div>
  </div>

  <div  formGroupName='datosInstructor'>

    <div class="form-group row " >
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
        [ngClass]="{'is-invalid': forma.controls['datosInstructor'].controls['nombre'].errors}"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">
               
       
        <div class='form-control-feedback'
             *ngIf="forma.controls['datosInstructor'].controls['nombre'].hasError('required')">
             El nombre es necesario
        </div>

        <div class='form-control-feedback'
             *ngIf="forma.controls['datosInstructor'].controls['nombre'].hasError('minlength')">
             Minimo {{this.forma.controls['datosInstructor'].controls['nombre'].errors.minlength.requiredLength}} caracteres
        </div>    
      </div>
      
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  

    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-md-8">

        <input class="form-control"
              type="email"
              placeholder="correo@gmail.com"
              formControlName="email">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Categorias</label>
    <div class="col-md-8" formArrayName='categoria'>
      <div class="row"*ngFor="let item of forma.controls['categoria'].controls; let i = index"> 
          <input  
          formControlName="{{i}}" 
          class="form-control col-10"
          type="text">
          <button class="btn btn-danger col-1"
                  (click)="removeCategoria(i)"
                  [disabled]='i==0'
                  type="button">
             X
          </button>   

      </div>
             
    </div>
    <button class="btn btn-primary"
              (click)="addCategoria()"
              type="button">
        Agregar
    </button>
    
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Descripciones</label>
    <div class="col-md-8" formArrayName='descripciones'>
      <div class="row"*ngFor="let item of forma.controls['descripciones'].controls; let i = index"> 
          <input  
          formControlName="{{i}}" 
          class="form-control col-10"
          type="textbox">
          <button class="btn btn-danger col-1"
                  (click)="removeDescripcion(i)"
                  [disabled]='i==0'
                  type="button">
             X
          </button>   

      </div>
             
    </div>
    <button class="btn btn-primary"
              (click)="addDescripcion()"
              type="button">
        Agregar
    </button>
    
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Contactos</label>
    <div class="col-8" formArrayName='contactos'>
      <button class="btn btn-primary"
                (click)="addDescripcion()"
                type="button">
          Agregar
      </button>
      <div *ngFor="let item of forma.controls['contactos'].controls; let i = index"> 
          
        <div  [formGroupName]="i">
          <input  
          formControlName="tipo" 
          class="form-control"
          type="textbox">
          <input  
          formControlName="numero" 
          class="form-control"
          type="textbox">
            
        </div>
      </div>
      
             
    </div>
    
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col-8">

      <input class="form-control"
              type="password"
              formControlName="password1">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Confirmar contraaseña</label>
    <div class="col-8">

      <input class="form-control"
              type="password"
              formControlName="password2">
    </div>
  </div>

     


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<div class='container'>
  

</div>

{{forma.valid}}
<br>
{{forma.status}}