
<app-loading *ngIf="loading"></app-loading>
<div *ngIf="!loading">
    <header id="main-header">
        <div class="row no-gutters">
            <div class="col-lg-4 col-md-5">
                <img [src]="school.img" [alt]="school.name">
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="d-flex flex-column">
                    <div class="p-5 bg-dark text-white">
                        <div class="d-flex flex-row justify-content-between aling-items-center">
                            <h1 class="display-4">
                              {{school.name}}
                            </h1>
                            <div class="d-none d-md-block" *ngIf="_auth.isUserLoggedIn()">
                                <button type="button" (click)="generarNuevoCodigo()"  data-toggle="modal" data-target="#inscribirseModal" class="btn btn-outline-info btn-sm">
                                    Inscribirse
                                </button>
                            </div>
                            <!-- <div class="d-none d-md-block">
                                <a href="#" class="text-white">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </div>
                            <div>
                                <a href="https://www.facebook.com/MuroCbba/" class="text-white">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="text-white">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                            <div>
                                <a href="#" class="text-white">
                                    <i class="fab fa-google"></i>
                                </a>
                            </div> -->
                      </div>
                  </div>
                  <div class="p-4 bg-black">
                      {{school.category | titlecase}}
                  </div>

                  <div class="d-flex flex-row text-white  text-center">
                        <div (click)="cambiarHoja('home')" class="port-item p-4 bg-primary" data-toggle="collapse" >
                            <i class="fas fa-home fa-2x d-block"></i>
                            <span class="d-none d-sm-block">Descripcion</span>
                        </div>
                        <div   (click)="cambiarHoja('informacion')" class="port-item p-4 bg-success" data-toggle="collapse" >
                            <i class="fas fa-map fa-2x d-block"></i>
                            <span class="d-none d-sm-block">Informacion</span>
                        </div>
                        <div (click)="cambiarHoja('fotos')" class="port-item p-4 bg-warning" data-toggle="collapse">
                            <i class="fas fa-address-book fa-2x d-block"></i>
                            <span class="d-none d-sm-block">Fotos</span>
                        </div>
                        <div (click)="cambiarHoja('resena')" class="port-item p-4 bg-danger" data-toggle="collapse">
                            <i class="fas fa-envelope fa-2x d-block"></i>
                            <span class="d-none d-sm-block">Contactanos</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

  <div id="home" class="collapse show">
      <div class="card card-body bg-primary text-white py-5">
          <h2>Bienvenido {{school.name}}</h2>
      </div>
      <div class="card card-body py-5">
            <div *ngFor="let description of school.bodies" >
                <p>{{description}}</p>
                <hr>
            </div>
            <div *ngIf="school.phrases.length>0">
                <div *ngFor="let frase of school.phrases" >
                    <p>"<i>{{frase.body}}</i>" - {{frase.auth}}</p>
                    <hr>
                </div>
            </div>
            <hr>
            <div class="form-row border-bottom border-gray pb-2 mb-0">
                <div class="col">
                    <h6 class="">Reseñas </h6>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#ratingModal">
                        Nueva reseña
                    </button>
                </div>
            </div>
            <div  class="media text-muted pt-3" *ngIf="  !school.reviews || school.revs.length ===0"  >
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">Ninguna reseña por el momento</strong>
                </p>
            </div>
            <div class="media text-muted pt-3" *ngFor="let review of school.revs; let i=index">
                <img src="assets/imgs/star{{review.estrellas}}.jpg" alt="" width="50" height="50" class="mr-2 rounded img-thumbnail">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{review.email}}</strong>
                <small class="d-block text-gray-dark">{{review.dia}} - {{review.hora}}  </small>
                {{review.contenido}}
                </p>
                <small> </small>
            </div>
            

      </div>
  </div>

  <div id="informacion" class="collapse">   
    <div class="card card-body bg-success text-white py-5">
        <h2>Informacion</h2>
    </div>
    <div class="card card-body py-5">
        <div *ngFor="let sch of school.sche; let i=index">
            <h3>Horario {{i+1}}</h3>
            <label>{{sch.start}} - {{sch.end}}: &nbsp;</label>
            <label *ngFor="let day of sch.days; let i = index">
                <label *ngIf="day">
                   {{daysList[i]}}  &nbsp; 
                </label>
            </label>
            <p *ngIf="sch.note">Nota: {{sch.note}}</p>
        </div>
        <hr>
        <h3>Precios</h3>
        <div class="table-responsive-sm">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descripccion</th>
                        <th scope="col">Precio (BS.)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  *ngFor="let precio of school.pay;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td> {{precio.body}}</td>
                        <td> {{precio.cost}}</td>
                    </tr>
                </tbody>
            </table>
        </div>        
        <hr>
        <h3>Ubicacion</h3>
        <p>Puede seleccionar la ubicacion de la escuela</p>
        <app-maps-module [direcctionList]="school.dir"></app-maps-module>
        <hr>
        <div *ngIf="school.coach.name !='-' ">
            <h3>Responsable del curso</h3>
            <p>Nombre: {{school.coach.name}}</p>
            <p *ngIf="school.coach.email !='ninguno@gmail.com'">Correo: {{school.coach.email}}</p>
            <p *ngIf="school.coach.phone !='-'">Telefono: {{school.coach.phone}}</p>
            <hr>
        </div>
        <div *ngIf="school.helps.length!=0" >
            <h3>Ayudantes</h3>
            <div *ngFor="let help of school.helps">
                {{help.name}}  <label *ngIf="help.num!='-'"> &nbsp; - {{help.num}}</label> 
            </div>
            <hr>    
        </div>
        
        <div *ngIf="school.social.length!=0">
            <h3>Redes sociales</h3>
            <div class="d-flex flex-row justify-content-between aling-items-center">
                <div *ngFor="let so of school.social">
                    <div class="d-none d-md-block" *ngIf="so.type == 'Whatsapp'">
                        <p class="">
                            <i  class="fab fa-whatsapp" ></i>
                            {{so.body}}
                        </p>
                    </div>
                    <div class="d-none d-md-block" *ngIf="so.type == 'Instagram'">
                        <a [href]="so.body" class="">
                            <i  class="fab fa-instagram"></i>
                            {{school.name}}
                        </a>
                    </div>
                    <div class="d-none d-md-block" *ngIf="so.type == 'Facebook'">
                        <a [href]="so.body" class="">
                            <i *ngIf="so.type == 'Facebook'" class="fab fa-facebook"></i>
                            {{school.name}}
                        </a>
                    </div>
                    <div class="d-none d-md-block" *ngIf="so.type == 'Twitter'">
                        <a [href]="so.body" class="">
                            <i *ngIf="so.type == 'Twitter'" class="fab fa-twitter"></i> 
                            {{school.name}}
                        </a>
                    </div>     
                    <div class="d-none d-md-block" *ngIf="so.type == 'Correo'">
                        <p class="">
                            <i *ngIf="so.type == 'Correo'" class="fa fa-envelope" ></i>
                            {{so.body}}
                        </p>
                    </div>     
                    <div class="d-none d-md-block" *ngIf="so.type == 'Otro'">
                        <p class="">
                            <i *ngIf="so.type == 'Otro'" class="fa fa-globe"></i>
                            {{so.body}}
                        </p>
                    </div>                                                 
                </div>
                <!-- <div>
                    <a href="https://www.facebook.com/MuroCbba/" class="">
                        <i class="fab fa-facebook"></i>  {{school.name}}
                    </a>
                </div>
                <div>
                    <a href="#" class="">
                        <i class="fab fa-instagram"></i>  {{school.name}}
                    </a>
                </div>
                <div>
                    <a href="#" class="">
                        <i class="fab fa-google"></i>  {{school.name}}
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</div>

    <div id="fotos" class="collapse">
      <div class="card card-body bg-warning text-white py-5">
          <h2>Fotos</h2>
        </div>
        <div class="card card-body py-5">
            <!-- <h3>Fotos</h3> -->
          <h1 class="text-center">Proximamente</h1>
          <!-- <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, pariatur dolorem dolor blanditiis voluptatum ab.</p> -->
          <!-- <div class="row no-gutters">
              <div class="col-md-3">
                  <a href="images/vistaEscuela/1.jpg" data-toggle="lightbox"><img src="images/vistaEscuela/1.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="col-md-3">
                  <a href="images/vistaEscuela/2.jpg" data-toggle="lightbox"><img src="images/vistaEscuela/2.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="col-md-3">
                  <a href="images/vistaEscuela/3.jpg" data-toggle="lightbox"><img src="images/vistaEscuela/3.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="col-md-3">
                  <a href="images/vistaEscuela/4.jpg" data-toggle="lightbox"><img src="images/vistaEscuela/4.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="col-md-3">
                  <a href="images/vistaEscuela/5.jpg" data-toggle="lightbox"><img src="images/vistaEscuela/5.jpg" alt="" class="img-fluid"></a>
              </div>
              <div class="col-md-3">
                  <a href="images/vistaEscuela/6.jpg" data-toggle="lightbox"><img src="images/vistaEscuela/6.jpg" alt="" class="img-fluid"></a>
              </div>
          </div> -->
          <hr>
            
            
            

      </div>
  </div>
    <div id="resena" class="collapse">
        <div class="card card-body bg-danger text-white py-5">
            <h2>Contactanos</h2>
        </div>
        <div class="card card-body py-5">
            <app-send-messages></app-send-messages>
        </div>
    </div>

  <footer id=footer class="p-5 bg-dark text-white">
      <div class="row">
          <div class="col-md-6">
              <!-- <a href="#" class="btn btn-outline-light">
                  <i class="fas fa-cloud"></i> inscribirse
              </a> -->
          </div>

      </div>
  </footer>
  <!-- Modal inscribirse-->
  <div [hidden]="IsmodelShow" class="modal fade" id="inscribirseModal" tabindex="-1" role="dialog" aria-labelledby="inscribirseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="inscribirseModalLabel">{{school.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>Precios:</p>
            <div class="form-check" *ngFor="let precio of school.pay">
                <input class="form-check-input" name="pricesRadios" type="radio"[value]="precio.cost" checked>
                <label class="form-check-label">
                    {{precio.cost}} Bs.
                </label>
            </div>
            <P>Elija forma de pago:</P>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="purchaseRadios" type="radio" value="option1" checked>
                <label class="form-check-label" for="inlineCheckbox1">Bisa</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="purchaseRadios" type="radio" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">MSC</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="purchaseRadios" type="radio" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Banco Union</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="purchaseRadios" type="radio" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">BNB</label>
            </div>
            <p>Codigo: {{codigo}}</p>
        </div>

        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" (click)="cerrar()" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal raiting -->
  <div class="modal fade" id="ratingModal" tabindex="-1" role="dialog" aria-labelledby="ratingModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ratingModalLabel">Nueva reseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]='reveiwForma' (ngSubmit)="submitReview()">
            <div class="form-group">
              <label for="message-text" class="col-form-label">Reseña:</label>
              <textarea class="form-control" 
                        formControlName="contenido" 
                        [ngClass]="{'is-invalid': reveiwForma.controls['contenido'].errors && ( reveiwForma.controls['contenido'].touched ||  reveiwForma.controls['contenido'].dirty )}" 
                        placeholder="contenido">
              </textarea>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">Correo</label>
                <input type="text" 
                      class="form-control" 
                      formControlName="email" 
                      placeholder="ejemplo@dominio.com"
                      [ngClass]="{'is-invalid': reveiwForma.controls['email'].errors && ( reveiwForma.controls['email'].touched ||  reveiwForma.controls['email'].dirty )}">
              </div>
              <div class="form-group col-md-6">
                <label for="inputState">Calificacion</label>
                <select formControlName="estrellas" 
                        class="custom-select mr-sm-2"
                        [ngClass]="{'is-invalid': reveiwForma.controls['estrellas'].errors && ( reveiwForma.controls['estrellas'].touched ||  reveiwForma.controls['estrellas'].dirty )}"  >
                  <option selected>--</option>
                  <option value=1>1</option>
                  <option value=2>2</option>
                  <option value=3>3</option>
                  <option value=4>4</option>
                  <option value=5>5</option>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="submit" [disabled]="!reveiwForma.valid" class="btn btn-primary">Publicar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div> 



</div>