<div class="container" >
    <h3 class="text-center">Demo boostrap cards</h3>
    <div class="card-columns">
        <app-category-card [category] = item *ngFor="let item of _info.escuelas"></app-category-card>
    </div>
</div>
<!------------------ Hover Effect Style : Demo - 1 --------------->
<div class="container" >
    <h3 class="text-center">Hover Effect Style : Demo - 1</h3>
    <div class="row mt-40">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas">
            <div class="box1">
                <img [src]="item.url" [alt]="item.nombre">
                <h3 class="title">{{item.nombre}}</h3>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>              
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 2 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 2</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas">
            <div class="box2">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <div class="inner-content">
                        <h3 class="title">{{item.nombre}}</h3>
                        <span class="post">Web Developer</span>
                        <ul class="icon">
                            <li><a href="#"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-link"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 3 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 3</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box3">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci pariatur qui.
                    </p>
                    <ul class="icon">
                        <li><a href="#" class="fa fa-search"></a></li>
                        <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                </div>
            </div>
        </div>               
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 4 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 4</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box4">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <ul class="icon">
                        <li><a href="#" class="fa fa-search"></a></li>
                        <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 5 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 5</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box5">
                <img [src]="item.url" [alt]="item.nombre">
                <ul class="icon">
                    <li><a href="#" class="fa fa-search"></a></li>
                    <li><a href="#" class="fa fa-link"></a></li>
                </ul>
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 6 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 6</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box6">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <ul class="icon">
                        <li><a href="#" class="fa fa-search"></a></li>
                        <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 7 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 7</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box7">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <ul class="icon">
                        <li><a href="#" class="fa fa-search"></a></li>
                        <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 8 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 8</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box8">
                <img [src]="item.url" [alt]="item.nombre">
                <h3 class="title">{{item.nombre}}</h3>
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i> </a> </li>
                        <li><a href="#"><i class="fa fa-link"></i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 9 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 9</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box9">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 10 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 10</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box10">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <ul class="icon">
                        <li><a href="#" class="fa fa-search"></a></li>
                        <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 11 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 11</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box11">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <ul class="icon">
                        <li><a href="#" class="fa fa-search"></a></li>
                        <li><a href="#" class="fa fa-link"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 12 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 12</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box12">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 13 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 13</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box13">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Designer</span>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 14 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 14</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box14">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 15 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 15</h3>
    <div class="row mt-30">
        <div class="col-md-3 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box15">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 16 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 16</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box16">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 17 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 17</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box17">
                <img [src]="item.url" [alt]="item.nombre">
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-search"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web Developer</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 18 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 18</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box18">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">Web designer</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 19 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 19</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box19">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <ul class="icon">
                        <li><a href="#"><i class="fa fa-search"></i></a></li>
                        <li><a href="#"><i class="fa fa-link"></i></a></li>
                    </ul>
                    <h3 class="title">{{item.nombre}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 20 --------------->
<div class="container mt-40">
    <h3 class="text-center">Hover Effect Style : Demo - 20</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box20">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h3 class="title">{{item.nombre}}</h3>
                    <span class="post">web designer</span>
                </div>
                <ul class="icon">
                    <li><a href="#"><i class="fa fa-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-link"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!------------------ Hover Effect Style : Demo - 21 --------------->
<div class="container mt-40 mb-30">
    <h3 class="text-center">Hover Effect Style : Demo - 21</h3>
    <div class="row mt-30">
        <div class="col-md-4 col-sm-6"  *ngFor="let item of _info.escuelas"> 
            <div class="box21">
                <img [src]="item.url" [alt]="item.nombre">
                <div class="box-content">
                    <h4 class="title">{{item.nombre}}</h4>
                    <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis augue in odio suscipit, at.</p>
                    <a class="read-more" href="#">read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--https://bootsnipp.com/snippets/featured/hover-effect-style-->