<app-loading *ngIf="categoryList.length===0" class="text-center"></app-loading>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide  - Set the background image for this slide in the line below -->
      <div *ngFor="let category of categoryList; let i=index" class="carousel-item" [ngClass]="{'active': i===0  }"  [ngStyle]="{'background-image': 'url(' + category.url + ')'}">
        <div class="carousel-caption d-none d-md-block">
          <h1>Somos <span class="badge badge-secondary">{{category.titulo}}</span></h1>
          <button type="button" [routerLink]="[ '/escuela',category.id  ]" class="btn btn-warning">Contactar</button>
        </div>
      </div>

    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
