<div class="container mt-3" > 
    <app-loading *ngIf="loading"></app-loading>
    <div *ngIf="!loading">
        <div  *ngFor="let categoria of newList">
            <div class="card border-dark mb-3" >
                <div class="card-header text-dark">
                    <div class="text-center">
                        <h3>{{categoria.tipo | titlecase}}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <app-school-card  (schoolSelected)="getSchool($event)" 
                                       [schoolList]="categoria.lista">
                    </app-school-card>
                </div>
            </div>       
        </div>
    </div>
</div>