@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  height: 100%
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient( rgb(35, 72, 108),rgb(25, 165, 228)) no-repeat center center fixed;
}