

.navbar-inverse {
    background-color: rgba(4, 11, 49);
    border-color: transparent;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-size: 40px;
    padding: 10px 15px;
    font-weight: 900;
}

.nav.navbar-nav.navbar-right {
    margin: 25px 0;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

.banner {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
}
